/* body {
  padding: 20px;
  margin: 0;
  background-image: url(../public/3.png);
}
.wrapper {
  padding: 20px;
  color: rgb(229, 190, 255);
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}
a {
  color: rgb(201, 119, 255);
} */
